*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

body{

background:#111;
color:white;

}

header{

padding:30px;
text-align:center;
background:#202020;

}

.painel{

width:600px;
max-width:95%;
margin:auto;
margin-top:30px;
display:flex;
flex-direction:column;
gap:15px;

}

input,
select{

padding:15px;
font-size:18px;
border-radius:8px;
border:none;

}

button{

padding:18px;
font-size:20px;
cursor:pointer;
border:none;
border-radius:10px;
background:#0066ff;
color:white;

}

button:hover{

transform:scale(1.03);

}

#preview{

margin:40px auto;
width:90%;
padding:30px;
border-radius:15px;
background:#222;

}
